body {
    color: #fff;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: inter;
    background-color: #000;
}

@font-face {
    font-family: 'inter';
    src: url('../fonts/Poppins-ExtraLightItalic.ttf') format('truetype');

}

.white_figure {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 25px;
    position: relative;
    left: 70px;
    top: 80px;
}

.balls_img {
    width: 70px;
    height: 100px;
    position: relative;
    left: 40px;
    top: 27px;
}

.container_1 {

    width: 40px;
    position: relative;
    left: 100px;
    top: 300px;
}

.container_2 {
    width: 40px;
    position: relative;
    left: 100px;
    top: 300px;

}

.container_3 {
    width: 40px;
    position: relative;
    left: 100px;
    top: 300px;
}

.container_4 {
    width: 40px;
    position: relative;
    left: 100px;
    top: 300px;
}

.definition-anywords1 {
    position: absolute;
    top: 455px;
    left: 140px;
}

.definition-anywords2 {
    position: absolute;
    top: 500px;
    left: 140px;
}

.definition-anywords3 {
    position: absolute;
    top: 540px;
    left: 140px;
}

.definition-anywords4 {
    position: absolute;
    top: 580px;
    left: 140px;
}

.container-img1 {
    position: absolute;
    left: 600px;
    bottom: 100px;
}

.container-img2 {
    position: absolute;
    left: 240px;
    top: 420px;
}

.ui-kit-img {
    position: absolute;
    top: 300px;

}